body {
    margin: 0;
}

body>div {
    margin: 0 auto;
}

.top {
    width: 1000px; 
    height: 500px;
    margin-top: 30px;
}

.top>.chef_about{
    width: 750px;
    height: 500px;
    background-image: url('image/chef_about.png');
    float: left;
}

.top>.chef_about>.explain_pgh_chef{
    background-color: rgba(47, 249, 249, 0.715);
    margin-top: 250px;
}

.top>.side_boxs {
    width: 250px;
    height: 500px;
    float: left;
}

.box_all { 
    width: 1000px;
    height: 500px;
}

.box_all>.boxs {
    width: 750px; 
    height: 500px;
    float: left; 
}

.box_all>.boxs>.box{
    float: left;
}

.box_all>.boxs > div:nth-child(2n-1) { 
    background-color: #ecfdaf;
}

.box_all>.boxs > div:nth-child(2n) { 
    background-color: #ebc6b1;
}

.box_all>.long_box {
    width: 250px; 
    height: 500px;
    background-color: #d5e877;
    float: left;
}

.box_all>.long_box >.explain_pgh_longbox {
    height: auto;
}

.footer {
    width: 1000px; 
    height: 40px;
    background-color: #ebece8;
}

.footer>ul {
    margin: 0px; 
    padding: 7px 0; 
}

.footer>ul>li {
    display: inline-block;
    margin: 0 10px; 
}

.footer span{
    color: orange;
}

.block_pgh_title{
    font-weight: bold; 
    font-size: 20px;
}

.to_block{
    display: block;
}

.block_style{
    width: 210px; 
    height: 210px;
    padding: 20px;
    margin: 0;
}
