body {margin: 0;}

#About {margin-top: 30px;}

#About > div {margin-left: auto; margin-right: auto;}

#top {width: 1000px; height: 500px;}

#chef_about, #right1, #explain{float: left;}

#explain{
    width: 250px; height: 250px; 
    display: inline-block; background-color: aquamarine;
}




.explain_pgh {
    width: 210px; height: 210px;
    margin: 20px;
}

.explain_pgh > span {font-weight: bold; font-size: 20px;}




#box_all { width: 1000px; height: 500px;}

#boxs {width: 750px; height: 500px; float: left;}

#boxs > div, #long_box {float:left;}

#boxs > div:nth-child(2n-1) { background-color: #ecfdaf;}

#boxs > div:nth-child(2n) { background-color: #ebc6b1;}

#long_box {
    width: 250px; height: 500px;
    background-color: #d5e877;
}

#long_box > p {margin: 20px;}

#long_box > p > span {font-weight: bold; font-size: 20px;}


#footer {
    width: 1000px; height: 40px;
    background-color: #ebece8;
    overflow: hidden;
}

#footer>ul {
    margin:0px; padding:0px; margin-top: 8px;
}

#footer>ul>li {
    display: inline-block;
    margin-left: 10px; margin-right: 10px;
}

#footer span{
    color: orange;
}



