body {margin: 0px;}

.header {
 height: 120px;
 background-color: #f6e591;
 padding: 33px;
 box-sizing: border-box;
}

.header>ul {
    margin:0px; padding:0px;
    display: inline-block; text-align: center;
}

.header>ul>li {
    display: inline-block;
}

#logo {margin:0px;}
/* .header>ul>li::after{
    width: 80px; height: 100px;
} */

.mainpicture {
    height: 464px;
    text-align: center;
}

